<div class="booking-title">
    <h1> Dating plans </h1>
  </div>
<div class= "book-index-container">
  <% @bookings.each do |booking| %>
<div class = "book-cards m-5">
   
      <%= link_to booking_path(booking) do %>
      <p><%= booking.date %></p>
      <% if booking.restaurant %>
        <div class="d-flex justify-content-between b-card-item">
          <%= booking.restaurant.name %>
          <%= cl_image_tag booking.restaurant.photo.key,class: "b-photo", height: 150, width: 200 %>
        </div>

      <% end %>
      <% if booking.activity %>
        <div class="d-flex justify-content-between b-card-item">
          <%= booking.activity.name %>
          <%= cl_image_tag booking.activity.photo.key,class: "b-photo", height: 150, width: 200 %>
        </div>

        <% if booking.confirmed %>
          <p>Booking confirmed</p>
          <% else %>
          <p>Require confirmation</p>
        <% end %>
      <% end %>
          <%= link_to booking_path(booking), method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>


