<div class="container text-center justify-content-center ">

  <h1 class="text-center mt-4">Date details</h1>

  <div class = "booking-container m-4">

    <div class="card-deck text-center row justify-content-center m-4">

      <div class="card  w-25 col-sm-6 m-4">
        <% if @booking.restaurant_id %>
          <h2 card="title" class="m-2 pt-3">Restaurant Details</h2>
          <div class="card-body m-2">
          <p><%= @booking.restaurant.name %></p>
          <p><%= @booking.restaurant.address %></p>
          <p><%= @booking.restaurant.price %></p>
          <p><%= @booking.restaurant.open_hour %></p>
          <p><%= @booking.restaurant.phone_number %></p>
          <p><%= @booking.restaurant.category %></p>
          <% end %>
          </div>
      </div>
      <div class="card w-25 col-sm-6 m-4">
        <% if @booking.activity_id %>
          <h2 card="title" class="m-2 p-3">Activity Details</h2>
          <div class="card-body m-2">
          <p><%= @booking.activity.name %></p>
          <p><%= @booking.activity.address %></p>
          <p><%= @booking.activity.open_hour %></p>
          <p><%= @booking.activity.phone_number %></p>
          <% end %>
        </div>
    </div>
    </div>

    <div class="row justify-content-center">
      <% if @booking.confirmed %>
          <p>Booking confirmed</p>
      <% else %>
        <%= simple_form_for @booking do |f| %>
          <%= f.submit "  Confirm  ", class: 'btn btn-dark btn-lg active mb-4 p-12 active toggle'   %>
        <% end %>
        </div>

      <div id="map" class="map-nonsticky col-xs-2 m-4 justify-content-center"
        style="height: 400px !important; width: 1000px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <% end %>


  </div>
</div>



