<button type="button" class="add-booking-button" data-toggle="modal" data-target="#exampleModalLong">
  Add to plan
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add to plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <%= link_to "Go to plan", restaurant_new_booking_path(restaurant_id: @restaurant.id), method: :post, class: 'booking-button' %>
        </div>
        <div>
          <%= link_to "Choose an activity",  activities_path, class: 'booking-button' %>
        </div>
        <% current_user.bookings.where(restaurant: nil).each do |booking| %>
          <div class="d-flex justify-content-between b-card-item">
            <div style="flex: 1" class="b-name">
              <%= booking.activity.name %>
            </div>
           <%= cl_image_tag booking.activity.photo.key,class: "b-photo", height: 100, width: 150 %>
           <%= link_to "Add to plan", add_restaurant_path(booking_id: booking.id, restaurant_id: @restaurant), method: :patch, class: 'small-booking-button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
