<div class="container">

  <div class="restaurant-whole-page">
    <h2 class="restaurant-index-heading">Choose A Restaurant</h2>

    <h4>Looking for something else?</h4>

    <div class="restaurant-category-cards">
        <form class="restaurant-category" action="/restaurants" method="GET">
          <%= hidden_field_tag :category, "Italian"  %>
          <input class="restaurant-card-pic" type="image" name="All" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583496782/category_resto_all_cvbqtn.jpg" border="0" alt="Submit" style="width: 200px; height: 120px" />
        <%= link_to "All", restaurants_path %>
        </form>

        <form class="restaurant-category" action="/restaurants" method="GET">
          <%= hidden_field_tag :category, "Pub"  %>
          <input class="restaurant-card-pic" type="image" name="Italian" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583496400/category_resto_italian_fhgvbn.jpg" border="0" alt="Submit" style="width: 200px; height: 120px" />
        <%= link_to "Italian",restaurants_path(category: "Italian") %>
        </form>

        <form class="restaurant-category" action="/restaurants" method="GET">
          <%= hidden_field_tag :category, "Japanese"  %>
          <input class="restaurant-card-pic" type="image"  name="Japanese" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583496400/category-resto-japanese_qjxudr.jpg" border="0" alt="Submit" style="width: 200px; height: 120px" />
        <%= link_to "Japanese", restaurants_path(category: "Japanese") %>
        </form>

        <form class="restaurant-category" action="/restaurants" method="GET">
          <%= hidden_field_tag :category, "Seafood"  %>
          <input class="restaurant-card-pic" type="image" name="Seafood" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583496770/category_resto_seafoodrevised_orpu7e.jpg" border="0" alt="Submit" style="width: 200px; height: 120px" />
        <%= link_to "Seafood", restaurants_path(category: "Seafood") %>
        </form>

        <form class="restaurant-category" action="/restaurants" method="GET">
          <%= hidden_field_tag :category, "Vegan"  %>
          <input class="restaurant-card-pic" type="image" name="Vegan" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583496407/category_resto_vegan_boevbv.jpg" border="0" alt="Submit" style="width: 200px; height: 120px" />
        <%= link_to "Vegan", restaurants_path(category: "Vegan") %>
        </form>
    </div>

  <hr>

  <div class="restaurant-grid-index-with-map">
    <div class="restaurant-index-cards">
      <% @restaurants.each do |restaurant| %>
        <div class="restaurant-index-card">
          <% if restaurant.photo.attached? %>
            <div class="restaurant-index-image text-center grid-photo">
              <%= link_to restaurant_path(restaurant) do %>
                <%= cl_image_tag restaurant.photo.key, height: 200, width: 300 %>
              <% end %>
            </div>

            <div class="restaurant-index-info text-left">
              <div class="resto-name-review">
                <h3 id="resto-name"><%= link_to restaurant.name, restaurant_path(restaurant)  %></h3>
                <p id="resto-review">⭐⭐⭐⭐</p>
              </div>
                <p><%= restaurant.category %></p>
                <p><%= restaurant.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="map"
      style="height: 600px !important; width: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
