<h2>Restaurant show page</h2>
<%= @restaurant.name %>
<%= @restaurant.category %>
<%= @restaurant.address %>
<%= @restaurant.price %>
<%= @restaurant.open_hour %>
<%= @restaurant.phone_number %>

<%= link_to "Add to booking", set_restaurant_path(restaurant_id: @restaurant.id), method: :patch %>

<%#= link_to "Add to cart", {:controller => "bookings", :action => "set_restaurant", :restaurant_id => @restaurant.id }, method: :patch%>

