<div class="activity-whole-page">
  <h2 class="activity-index-heading">Choose An Activity</h2>


  <hr>
  <h4>Filter by Category</h4>
    <%#= link_to "Museum", category(category: Museum) %>
  <% @categories_unique.each do |category| %>
    <form action="/category" method="GET">
      <%= hidden_field_tag :category, category  %>
      <%= submit_tag "#{category}" %>
    </form>
  <% end %>

  <hr>


    <div class="activity-grid-index">

        <% @activities.each do |activity| %>
        <div class="activity-index-card">
          <% if activity.photo.attached? %>
            <div class="activity-index-image text-center grid-photo">
              <%= link_to activity_path(activity) do %>
                <%= cl_image_tag activity.photo.key, height: 250, width: 350, crop: :fill %>
              <% end %>
            </div>
          <% end %>

          <%= link_to activity.name, activity_path(activity)  %>
          <%= activity.category %>
        <% end %>
      </div>

      <div id="map"
        style="height: 800px !important; width: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
