<h2>Activity show page</h2>

<%= @activity.name %>
<%= @activity.address %>
<%= @activity.open_hour %>
<%= @activity.phone_number %>
<%= @activity.category %>
<% link_to "Add activity to plan", set_activity_path(@activity), method: :patch %>

<%=  simple_form_for [@review] do |f| %>
  <% f.input :rating %>
  <% f.input :content %>
  <% f.submit %>
<% end %>
