<h2>Activity show page</h2>

<%= @activity.name %>
<%= @activity.address %>
<%= @activity.open_hour %>
<%= @activity.phone_number %>
<%= @activity.category %>
<% link_to "Add activity to plan", set_activity(@activity), method: :patch %>
