<div class="container">
<h2 id="activity-header">Activities</h2>
<!--
div of activity-image and map -->
<div class="activity-image-map">

    <%= cl_image_tag @activity.photo.key, height: 500, width: 750 %>

  <div id="map" class="map-nonsticky"
    style="height: 600px !important; width: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<!-- class for information  -->
  <div class="activity-information">
    <h5 class="pb-4"><%= @activity.name %></h5>
    <ol>
      <li>
        <%= @activity.address %>
      </li>
      <li>
        <%= @activity.open_hour %>
      </li>
      <li>
        <%= @activity.phone_number %>
      </li>
      <li>
        <%= @activity.category %>
      </li>
    </ol>
    <%= link_to "Add to booking", set_activity_path(activity_id: @activity.id), method: :patch %>
  </div>


</div>

  <div class="show-ratings pt-5">
    <h3>User Reviews</h3>
    <% @activity.reviews.each do |review|%>
      <div class="border ratings-table">
        <p><%= "â­" * (review.rating.to_i) %></p>
        <p><%= review.content %></p>
      </div>
    <% end %>

  <% if @activity.reviews.blank? %>
    Be the first one to leave a comment for <%= @activity.name %>
  <% else %>
    <% @activity.reviews.each do |review| %>
      <%= review.content %>
      <%= review.rating %>
      <% end %>
  <% end %>
</div>

<br>
<div class="activity-review-form">
  <%= simple_form_for [@review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <% hidden_field_tag :activity, @activity.id %>
    <%= f.submit %>
  <% end %>
</div>

</div>



